<component name="ArtifactManager">
  <artifact name="springbootdemo:GWT">
    <output-path>src/main/webapp/VAADIN/widgetsets</output-path>
    <root id="root">
      <element id="directory" name="VAADIN">
        <element id="directory" name="widgetsets">
          <element id="gwt-compiler-output" facet="springbootdemo/gwt/GWT" />
        </element>
      </element>
    </root>
  </artifact>
</component>